html{
	font-family: 'Montserrat', sans-serif;
}

*{
	box-sizing: border-box;
}
.lateral{
	background-color: #56B3AB;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 350px;
	left: 0;
	padding: 1em;

}

.perfil__circulo{
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0;
}

.perfil__foto{
	width: 100%;
}

.perfil__nombres{
	color: #fff;
	font-size: 20px;
	width: 250px;
	margin-left: .5em;
}

.perfil__nombres, .perfil__circulo{
	display: inline-block;
	vertical-align: middle;
}

.informacion{
	color : #0F6A62;
	position: absolute;
	bottom: 1em;
}

.informacion__titulo{
	font-size: 18px;
}

.habilidades{
	padding: 0;
}

.habilidad{
	background-color: #0F6A62;
	color: #fff;
	font-size: 12px;
	display: inline-block;
	padding: .5em;
	text-transform: uppercase;
	font-weight: bold;
}

.proyectos{
	margin-left: 350px;
	padding-left: 1em;
	
}

.proyecto{
	display: table-cell;
	width: 50%;
	padding: 1em;
}

.proyecto__imagen{
	width: 100%;
}

.proyecto__titulo{
	color: #29597C;
	font-size: 18px;
}

.habilidad__proyecto{
	background-color: #29597C;
	color: #fff;
	font-size: 12px;
	display: inline-block;
	padding: .5em;
	text-transform: uppercase;
	font-weight: bold;
}


.proyecto__descripcion{
	color : #797d7f;
}